<%-include('partials/header.ejs')%>
<h2><%=name%></h2>
<p>Type: <%=type%></p>
<p>Dimension: <%=dimension%></p>
<h2>Characters:</h2>
<%-include('partials/cards.ejs')%>
<a href="/">See all the characters</a>
